<h1>Login Ewig</h1>

<div class="form-container">
    <form action="/admin/login" method="post" class="form-login">
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario">
        <label for="password">Contraseña</label>
        <input type="password" name="password">
    <div class="div-btn">
        <button type="submit">Ingresar</button>
    </div>
        </form>
</div>
    {{#if error}}
            <p>Usuario y/o password incorrecto</p>
    {{/if}}
